/* For mobile devices only */
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}
body {
  background: lightblue;
  background-image: url("./images/main-bg.jpg");
  /* background-origin: border-box; */
  /* background-clip: padding-box; */
  background-size: cover;
  background-repeat: no-repeat;
}
.Card {
  width: 80%;
  max-width: 450px;
  background: #bb2525;
  color: beige;
  margin: 20px auto;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search {
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: rgb(105, 218, 176);
  color: #4d4c4c;
  padding: 10px 25px;
  height: 60px;
  border-radius: 50px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button {
  border: 0;
  outline: 0;
  background: rgb(105, 218, 176);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img {
  width: 24px;
}
.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  margin-right: 10px;
}
.humidity,
.wind {
  font-size: 26px;
  margin-top: -6px;
}
.weather {
  display: none;
}
.error {
  text-align: center;
  margin-left: 10px;
  font-size: 35px;
  margin-top: 10px;
  display: none;
}